#!/bin/sh
# !This is a terraform template, be careful escape shell variables notation as $${}

SERVERS=${servers}
ADDR=$(ip addr show dev ${advertise_interface} | sed -n 's/.*inet \(.*\)\/.*/\1/p')

# Default consul arguments can override the bellow logic
ARGS=${args}
ARGS="$${ARGS:--bootstrap-expect $$SERVERS -join ${master_address}}"

# Create directory for consul volume
mkdir -p /var/lib/consul

# Run consul-server container as daemon (+ restart always)
docker run -d --name=consul-server --restart=always \
    -p ${dns_port}:8600 -p ${dns_port}:8600/udp \
    -p 8300:8300 -p 8301:8301 -p 8301:8301/udp -p 8302:8302 -p 8302:8302/udp \
    -p 8400:8400 -p 8500:8500 \
    -v /var/lib/consul:/data \
${image} \
    -advertise $$ADDR $$ARGS
