#cloud-config
# vim: syntax=yaml
#

package_upgrade:
packages:
  - python
  - curl
  - wget

write_files:
- encoding: b64
    content: ${nomad_conf_content}
    owner: root:root
    path: /etc/nomad/nomad.conf.tmpl
    permissions: '0644'


runcmd:
  - curl https://raw.githubusercontent.com/stackfeed/scripts/master/python/jsonenv
